<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}"/>
</head>
<body>
<div>
    <p th:text="#{mail.jobAd.refined.header_de}"></p>
    <p th:text="#{mail.jobAd.refined.body.paragraph1_de(${jobAdvertisement.stellennummerEgov})}"></p>
    <em th:if="${jobAdvertisement.reportingObligation}"
        th:text="#{mail.jobAd.refined.body.reporting.obligation_de}"></em>
    <br>
    <strong th:if="${jobAdvertisement.reportingObligation}"
       th:text="#{mail.jobAd.refined.body.reporting.obligation.date_de(${reportingObligationEndDate})}"></strong>
    <p th:text="#{mail.jobAd.refined.body.paragraph2_de}"></p>
    <div th:text="${jobCenter?.address?.name}"></div>
    <span th:text="${jobCenter?.address?.street}"></span>
    <span th:text="${jobCenter?.address?.houseNumber}">&nbsp</span>
    <span th:text="${jobCenter?.address?.zipCode}"></span>
    <span th:text="${jobCenter?.address?.city}"></span>
    <br>
    <span th:text="#{mail.jobAd.refined.body.addressblock.tel_de}"></span>
    <span th:text="${jobCenter?.phone}"></span>
    <br>
    <span th:text="#{mail.jobAd.refined.body.addressblock.fax_de}"></span>
    <span th:text="${jobCenter?.fax}"></span>
    <br>
    <span th:text="#{mail.jobAd.refined.body.addressblock.email_de}"></span>
    <span th:text="${jobCenter?.email}"><br></span>
    <p th:text="#{mail.jobAd.refined.body.paragraph4_de}"></p>
    <a th:href="@{|${linkToJobAdDetailPage}${jobAdvertisement.id.value}#{mail.jobAd.token.string}${jobAdvertisement.owner.accessToken}|}"
       th:text="@{|${linkToJobAdDetailPage}${jobAdvertisement.id.value}#{mail.jobAd.token.string}${jobAdvertisement.owner.accessToken}|}"></a>
</div>
<br>
<hr>
<div>
    <p th:text="#{mail.jobAd.refined.header_fr}"></p>
    <p th:text="#{mail.jobAd.refined.body.paragraph1_fr(${jobAdvertisement.stellennummerEgov})}"></p>
    <em th:if="${jobAdvertisement.reportingObligation}"
       th:text="#{mail.jobAd.refined.body.reporting.obligation_fr}"></em>
    <br>
    <strong th:if="${jobAdvertisement.reportingObligation}"
        th:text="#{mail.jobAd.refined.body.reporting.obligation.date_fr(${reportingObligationEndDate})}"></strong>
    <p th:text="#{mail.jobAd.refined.body.paragraph2_fr}"></p>
    <div th:text="${jobCenter?.address?.name}"></div>
    <span th:text="${jobCenter?.address?.street}"></span>
    <span th:text="${jobCenter?.address?.houseNumber}"></span>
    <br>
    <span th:text="${jobCenter?.address?.zipCode}"></span>
    <span th:text="${jobCenter?.address?.city}">&nbsp</span>
    <br>
    <span th:text="#{mail.jobAd.refined.body.addressblock.tel_fr}"></span>
    <span th:text="${jobCenter?.phone}"></span>
    <br>
    <span th:text="#{mail.jobAd.refined.body.addressblock.fax_fr}"></span>
    <span th:text="${jobCenter?.fax}"></span>
    <br>
    <span th:text="#{mail.jobAd.refined.body.addressblock.email_fr}"></span>
    <span th:text="${jobCenter?.email}"></span>
    <p th:text="#{mail.jobAd.refined.body.paragraph4_fr}"></p>
    <a th:href="@{|${linkToJobAdDetailPage}${jobAdvertisement.id.value}#{mail.jobAd.token.string}${jobAdvertisement.owner.accessToken}|}"
       th:text="@{|${linkToJobAdDetailPage}${jobAdvertisement.id.value}#{mail.jobAd.token.string}${jobAdvertisement.owner.accessToken}|}"></a>
</div>
<br>
<hr>
<div>
    <p th:text="#{mail.jobAd.refined.header_it}"></p>
    <p th:text="#{mail.jobAd.refined.body.paragraph1_it(${jobAdvertisement.stellennummerEgov})}"></p>
    <em th:if="${jobAdvertisement.reportingObligation}"
        th:text="#{mail.jobAd.refined.body.reporting.obligation_it}"></em>
    <br>
    <strong th:if="${jobAdvertisement.reportingObligation}"
       th:text="#{mail.jobAd.refined.body.reporting.obligation.date_it(${reportingObligationEndDate})}"></strong>
    <p th:text="#{mail.jobAd.refined.body.paragraph2_it}"></p>
    <div th:text="${jobCenter?.address?.name}"></div>
    <span th:text="${jobCenter?.address?.street}"></span>
    <span th:text="${jobCenter?.address?.houseNumber}"></span>
    <br>
    <span th:text="${jobCenter?.address?.zipCode}"></span>
    <span th:text="${jobCenter?.address?.city}"></span>
    <br>
    <span th:text="#{mail.jobAd.refined.body.addressblock.tel_it}"></span>
    <span th:text="${jobCenter?.phone}"></span>
    <br>
    <span th:text="#{mail.jobAd.refined.body.addressblock.fax_it}"></span>
    <span th:text="${jobCenter?.fax}"></span>
    <br>
    <span th:text="#{mail.jobAd.refined.body.addressblock.email_it}"></span>
    <span th:text="${jobCenter?.email}"><br></span>
    <p th:text="#{mail.jobAd.refined.body.paragraph4_it}"></p>
    <a th:href="@{|${linkToJobAdDetailPage}${jobAdvertisement.id.value}#{mail.jobAd.token.string}${jobAdvertisement.owner.accessToken}|}"
       th:text="@{|${linkToJobAdDetailPage}${jobAdvertisement.id.value}#{mail.jobAd.token.string}${jobAdvertisement.owner.accessToken}|}"></a>
</div>
<br>
<hr>
<br>
<p th:text="#{mail.jobAd.footer.paragraph1_multilingual}"></p>
<div th:text="#{mail.jobAd.footer.details1_multilingual}"></div>
<div th:text="#{mail.jobAd.footer.details2_multilingual}"></div>
<div th:text="#{mail.jobAd.footer.details3_multilingual}"></div>
<br>
</body>
</html>
