<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}"/>
    </head>
    <body>
        <div>
            <p th:text="#{mail.jobAd.refined.header}"></p>
            <p th:text="#{mail.jobAd.refined.body.paragraph1}"></p>
            <p th:text="#{mail.jobAd.refined.body.paragraph2}"></p>
            <div th:text="#{mail.jobAd.refined.body.addressblock.title}"></div>
            <div th:text="#{mail.jobAd.refined.body.addressblock.address}"></div>
            <div th:text="#{mail.jobAd.refined.body.addressblock.plz.city}"></div>
            <div th:text="#{mail.jobAd.refined.body.addressblock.tel}"></div>
            <div th:text="#{mail.jobAd.refined.body.addressblock.fax}"></div>
            <div th:text="#{mail.jobAd.refined.body.addressblock.email}"></div>
            <p th:text="#{mail.jobAd.refined.body.paragraph3}"></p>
            <ul>
                <li><p th:text="#{mail.jobAd.refined.body.link1}"></p></li>
            </ul>
            <p th:text="#{mail.jobAd.refined.body.paragraph4}"></p>
            <p th:text="#{mail.jobAd.refined.body.link2}"></p>
            <p th:text="#{mail.jobAd.refined.body.paragraph5}"></p>
            <p th:text="#{mail.jobAd.refined.footer.paragraph1}"></p>
            <div th:text="#{mail.jobAd.refined.footer.details1}"></div>
            <div th:text="#{mail.jobAd.refined.footer.details2}"></div>
            <div th:text="#{mail.jobAd.refined.footer.details3}"></div>
        </div>
    </body>
</html>