<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}"/>
    </head>
    <body>
        <div>
            <p th:text="#{mail.jobAd.refined.header_de}"></p>
            <p th:text="#{mail.jobAd.refined.body.paragraph1_de(${stellennummer})}"></p>
            <p th:if="${numberOfJobs > 1}">
                <strong th:text="#{mail.jobAd.refined.body.para.numberofjobs_de(${numberOfJobs})}"></strong>
            </p>
            <p th:if="${reportingObligation}">
                <em th:text="#{mail.jobAd.refined.body.reporting.obligation_de}"></em><br>
                <br>
                <strong th:text="#{mail.jobAd.refined.body.reporting.obligation.date_de(${reportingObligationEndDate})}"></strong>
            </p>
            <p th:text="#{mail.jobAd.refined.body.paragraph2_de}"></p>
            <div th:text="${jobCenter?.address?.name}"></div>
            <span th:text="${jobCenter?.address?.street}"></span>
            <span th:text="${jobCenter?.address?.houseNumber}">&nbsp</span>
            <span th:text="${jobCenter?.address?.zipCode}"></span>
            <span th:text="${jobCenter?.address?.city}"></span>
            <br>
            <span th:text="#{mail.jobAd.refined.body.addressblock.tel_de}"></span>
            <span th:text="${jobCenter?.phone}"></span>
            <br>
            <span th:text="#{mail.jobAd.refined.body.addressblock.fax_de}"></span>
            <span th:text="${jobCenter?.fax}"></span>
            <br>
            <span th:text="#{mail.jobAd.refined.body.addressblock.email_de}"></span>
            <span th:text="${jobCenter?.email}"><br></span>
            <p th:text="#{mail.jobAd.refined.body.paragraph4_de}"></p>
            <a th:href="@{|${linkToJobAdDetailPage}${jobAdvertisementId}#{mail.jobAd.token.string}${accessToken}|}"
               th:text="@{|${linkToJobAdDetailPage}${jobAdvertisementId}#{mail.jobAd.token.string}${accessToken}|}"></a>
        </div>
        <br>
        <hr>
        <div>
            <p th:text="#{mail.jobAd.refined.header_fr}"></p>
            <p th:text="#{mail.jobAd.refined.body.paragraph1_fr(${stellennummer})}"></p>
            <p th:if="${numberOfJobs > 1}">
                <strong th:text="#{mail.jobAd.refined.body.para.numberofjobs_fr(${numberOfJobs})}"></strong>
            </p>
            <p th:if="${reportingObligation}">
                <em th:text="#{mail.jobAd.refined.body.reporting.obligation_fr}"></em><br>
                <br>
                <strong th:text="#{mail.jobAd.refined.body.reporting.obligation.date_fr(${reportingObligationEndDate})}"></strong>
            </p>
            <p th:text="#{mail.jobAd.refined.body.paragraph2_fr}"></p>
            <div th:text="${jobCenter?.address?.name}"></div>
            <span th:text="${jobCenter?.address?.street}"></span>
            <span th:text="${jobCenter?.address?.houseNumber}"></span>
            <br>
            <span th:text="${jobCenter?.address?.zipCode}"></span>
            <span th:text="${jobCenter?.address?.city}">&nbsp</span>
            <br>
            <span th:text="#{mail.jobAd.refined.body.addressblock.tel_fr}"></span>
            <span th:text="${jobCenter?.phone}"></span>
            <br>
            <span th:text="#{mail.jobAd.refined.body.addressblock.fax_fr}"></span>
            <span th:text="${jobCenter?.fax}"></span>
            <br>
            <span th:text="#{mail.jobAd.refined.body.addressblock.email_fr}"></span>
            <span th:text="${jobCenter?.email}"></span>
            <p th:text="#{mail.jobAd.refined.body.paragraph4_fr}"></p>
            <a th:href="@{|${linkToJobAdDetailPage}${jobAdvertisementId}#{mail.jobAd.token.string}${accessToken}|}"
               th:text="@{|${linkToJobAdDetailPage}${jobAdvertisementId}#{mail.jobAd.token.string}${accessToken}|}"></a>
        </div>
        <br>
        <hr>
        <div>
            <p th:text="#{mail.jobAd.refined.header_it}"></p>
            <p th:text="#{mail.jobAd.refined.body.paragraph1_it(${stellennummer})}"></p>
            <p th:if="${numberOfJobs > 1}">
                <strong th:text="#{mail.jobAd.refined.body.para.numberofjobs_it(${numberOfJobs})}"></strong>
            </p>
            <p th:if="${reportingObligation}">
                <em th:text="#{mail.jobAd.refined.body.reporting.obligation_it}"></em><br>
                <br>
                <strong th:text="#{mail.jobAd.refined.body.reporting.obligation.date_it(${reportingObligationEndDate})}"></strong>
            </p>
            <p th:text="#{mail.jobAd.refined.body.paragraph2_it}"></p>
            <div th:text="${jobCenter?.address?.name}"></div>
            <span th:text="${jobCenter?.address?.street}"></span>
            <span th:text="${jobCenter?.address?.houseNumber}"></span>
            <br>
            <span th:text="${jobCenter?.address?.zipCode}"></span>
            <span th:text="${jobCenter?.address?.city}"></span>
            <br>
            <span th:text="#{mail.jobAd.refined.body.addressblock.tel_it}"></span>
            <span th:text="${jobCenter?.phone}"></span>
            <br>
            <span th:text="#{mail.jobAd.refined.body.addressblock.fax_it}"></span>
            <span th:text="${jobCenter?.fax}"></span>
            <br>
            <span th:text="#{mail.jobAd.refined.body.addressblock.email_it}"></span>
            <span th:text="${jobCenter?.email}"><br></span>
            <p th:text="#{mail.jobAd.refined.body.paragraph4_it}"></p>
            <a th:href="@{|${linkToJobAdDetailPage}${jobAdvertisementId}#{mail.jobAd.token.string}${accessToken}|}"
               th:text="@{|${linkToJobAdDetailPage}${jobAdvertisementId}#{mail.jobAd.token.string}${accessToken}|}"></a>
        </div>
        <br>
        <hr>
        <br>
        <p th:text="#{mail.jobAd.footer.paragraph1_multilingual}"></p>
        <div th:text="#{mail.jobAd.footer.details1_multilingual}"></div>
        <div th:text="#{mail.jobAd.footer.details2_multilingual}"></div>
        <div th:text="#{mail.jobAd.footer.details3_multilingual}"></div>
    </body>
</html>
